<div class="row animated fadeIn faster">
    <div class="col">
      <h2 class="title">{{ title }}</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" />
        <div class="form-group">
          <label>Nombre</label>
          <input type="text"
                   class="form-control"
                   formControlName="firstname"
                   placeholder="Nombre "
          >
          <small class="form-text text-muted">Este es un campo autogenerado</small>
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text"
                     class="form-control"
                     formControlName="lastname"
                     placeholder="Apellido "
            >
            <small class="form-text text-muted">Este es un campo autogenerado</small>
          </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email"
                   class="form-control"
                   formControlName="email"
                   placeholder="Email"
          >
          <small class="form-text text-muted">Este es un campo autogenerado</small>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password"
                     class="form-control"
                     formControlName="password"
                     placeholder="password"
            >
            <small class="form-text text-muted">Este es un campo autogenerado</small>
          </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
