<div class="row">
  <div class="col-8">
    <table class="table mt-4 animated fadeIn faster table-striped table-dark table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; let i = index;">
          <td scope="row">{{ role.id }}</td>
          <td scope="row">{{ role.name }}</td>
          <td scope="row">{{ role.description }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-small" (click)="onEdit(role.id)">Editar</button>
            <button type="button" class="btn btn-success btn-small" (click)="onDelete(role.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



