<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary" routerLink="/roles/new">
      <i class="fa fa-plus"></i>
        Agregar
    </button>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <table class="table mt-4 animated fadeIn faster table-striped table-dark table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; let i = index;">
          <td scope="row">{{ role.id }}</td>
          <td scope="row">{{ role.name }}</td>
          <td scope="row">{{ role.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <!-- <app-role-detail></app-role-detail> -->
  </div>
</div>



