<div class="row">
  <div class="col-8">
    <!-- <table class="table mt-4 animated fadeIn faster table-striped table-dark table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; let i = index;">
          <td scope="row">{{ role.id }}</td>
          <td scope="row">{{ role.name }}</td>
          <td scope="row">{{ role.description }}</td>
        </tr>
      </tbody>
    </table> -->
    <app-role-table #roleDetail (roleEdited)="handleRoleEdited($event)"></app-role-table>
  </div>
  <div class="col-4">
    <app-role-detail #roleTable [title]="titulos.titulo1" (roleSubmited)="roleSubmited($event)"></app-role-detail>
  </div>
</div>



